*{
    margin: 0;
}

.header_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.header_slogan {
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: orange;
}

.header_logo {
    width: 100px;
    height: 100px;
}

.header_logo img {
    width: 100%;
    height: 100%;
}

.header_search button {
    background-color: orange;
    color: white;
}

.banner {
    width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
    height: 100%;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu li a {
    text-decoration: none;
    color: black;
    border-style: solid;
    padding: 20px 50px;
    margin-left: 0px;
    margin-right: 20px;
}

.sale_off_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.sale_off_content h1 {
    width: 100%;
    text-align: center;
    color: orange;
}

.sale_off_product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 280px;
    height: 380px;
    margin: 20px 50px;
    box-shadow: 0px 0px 10px gray;
}

.sale_off_product img {
    width: 80%;
    height: 80%;
}
.sale_off_product h4 {
    width: 100%;
    height: 10%;
    color: white;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale_off_product p {
    width: 50%;
    height: 10%;
    background-color: gray;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.sale_off_product>div {
    width: 50%;
    height: 10%;
    color: white;
    background-color: green;
    font-style: italic;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    text-align: center;
    background-color: black;
    color: white;
    margin: 20px;
}